body {
    background-color: #FAEBD7;
}

header {
    font-family: 'Open Sans', sans-serif;
    font-size:50px;
    font-weight:600;
    color:#7067CF;
}

header > span {
    font-size:40px;
    font-weight:200;
    color:#B7C0EE;
    font-style: italic;
}

#bigQ {
    font-size:75px;
}